*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*LAYOUT PRINCIPAL*/
.container{
    display: grid;
    grid-template-columns: 250px 1fr 300px;
    min-height: 100vh;
    background:#000 ;
    color: #fff;
}

/*MENU LATERAL*/
.sidebar{
    border-right: 1px solid #2f3336;
    padding: 20px;
}

.logo{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.sidebar nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 10px 0;
    border-radius: 30px;
    transition: background 0.2s;
}

.sidebar nav a hover,
.sidebar nav a.active{
    background: #1d9bf0;
}

.tweet-btn{
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    background: #1d9bf0;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/*FEED PRINCIPAL*/
.feed{
    border-right: 1px solid #2f3336;
}

.feed header{
    position: sticky;
top: 0;
background: #000;
padding: 15px;
border-bottom: 1px solid #2f3336;
}
